<div class="modal-content ">
    <div class="modal-header">
        <h2 class="modal-title" id="confirmDeleteModalLabel">Detail</h2>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
    </div>

    <div class="modal-body">
        <div class="input-group mb-2" style="display: none;">
            <span class="input-group-text col-sm-4" id="basic-addon1">Market ID</span>
            <input type="text" class="form-control col-sm-8" aria-describedby="basic-addon1" id="modalMarketID"
                readonly>
        </div>
        <!-- Market Name -->
        <div class="input-group mb-2">
            <span class="input-group-text col-sm-4" id="basic-addon1">Market Name</span>
            <input type="text" class="form-control col-sm-8" aria-describedby="basic-addon1" id="modalName_e"
                style="background-color:#f8f9fa;" readonly>
        </div>
        <div class="input-group mb-2">
            <span class="input-group-text col-sm-4" id="basic-addon1">街市</span>
            <input type="text" class="form-control col-sm-8" aria-describedby="basic-addon1" id="modalName_c"
                style="background-color:#f8f9fa;" readonly>
        </div>
        <!-- End Market Name -->
        <!-- Region -->
        <div class="input-group mb-2">
            <span class="input-group-text col-sm-4" id="basic-addon1">Region</span>
            <input type="text" class="form-control col-sm-8" aria-describedby="basic-addon1" id="modalRegion_e"
                style="background-color:#f8f9fa;" readonly>
            <!-- <input type="text" class="form-control col-sm-8" aria-describedby="basic-addon1" id="modalRegion_e" style="background-color:#f8f9fa;" readonly> -->
        </div>
        <div class="input-group mb-2">
            <span class="input-group-text col-sm-4" id="basic-addon1">區域</span>
            <!-- <select class="form-select col-sm-9" aria-label="Default select example" id="modalRegion_c" disabled="true">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select> -->
            <input type="text" class="form-control col-sm-8" aria-describedby="basic-addon1" id="modalRegion_c"
                style="background-color:#f8f9fa;" readonly>
        </div>
        <!-- End Region -->
        <!-- District -->
        <div class="input-group mb-2">
            <span class="input-group-text col-sm-4" id="basic-addon1">District</span>
            <input type="text" class="form-control col-sm-8" aria-describedby="basic-addon1" id="modalDistrict_e"
                style="background-color:#f8f9fa;" readonly>
            <!-- <input type="text" class="form-control col-sm-8" aria-describedby="basic-addon1" id="modalDistrict_e" style="background-color:#f8f9fa;" readonly> -->
        </div>
        <div class="input-group mb-2">
            <span class="input-group-text col-sm-4" id="basic-addon1">地區</span>
            <input type="text" class="form-control col-sm-8" aria-describedby="basic-addon1" id="modalDistrict_c"
                style="background-color:#f8f9fa;" readonly>
        </div>
        <!-- End District -->
        <!-- Address -->
        <div class="input-group mb-2">
            <span class="input-group-text col-sm-4" id="basic-addon1">Address</span>
            <input type="text" class="form-control col-sm-8" aria-describedby="basic-addon1" id="modalAddress_e"
                style="background-color:#f8f9fa;" readonly>
        </div>
        <div class="input-group mb-2">
            <span class="input-group-text col-sm-4" id="basic-addon1">地址</span>
            <input type="text" class="form-control col-sm-8" aria-describedby="basic-addon1" id="modalAddress_c"
                style="background-color:#f8f9fa;" readonly>
        </div>
        <!-- End Address -->
        <!-- Business Hours -->
        <div class="input-group mb-2">
            <span class="input-group-text col-sm-4" id="basic-addon1">Business Hours</span>
            <input type="text" class="form-control col-sm-8" aria-describedby="basic-addon1" id="modalBH_e"
                style="background-color:#f8f9fa;" readonly>
        </div>
        <div class="input-group mb-2">
            <span class="input-group-text col-sm-4" id="basic-addon1">營業時間</span>
            <input type="text" class="form-control col-sm-8" aria-describedby="basic-addon1" id="modalBH_c"
                style="background-color:#f8f9fa;" readonly>
        </div>
        <!-- End Business Hours -->
        <!-- Contact -->
        <div class="input-group mb-2">
            <span class="input-group-text col-sm-4" id="basic-addon1">Contact 聯絡電話</span>
            <input type="text" class="form-control col-sm-4" aria-describedby="basic-addon1" id="modalContact1"
                style="background-color:#f8f9fa;" readonly>
            <input type="text" class="form-control col-sm-4" aria-describedby="basic-addon1" id="modalContact2"
                style="background-color:#f8f9fa;" readonly>
        </div>
        <div class="input-group mb-2">
            <span class="input-group-text col-sm-4" id="basic-addon1">Coordinate</span>
            <input type="text" class="form-control col-sm-8" aria-describedby="basic-addon1" id="modalCoordinate"
                style="background-color:#f8f9fa;" readonly>
        </div>
        <!-- End Contact -->
        <!-- Tenancy Commodity -->
        <div class="row mb-3">
            <!-- <legend class="col-form-label col-sm-12 pt-0" >Tenancy Commodity</legend> -->
            <div class="col-sm-12" id="modal_tc">


            </div>
        </div>
        <!-- End Tenancy Commodity -->
        <!-- Google Map -->
        <div id="map-container-google-2" class="z-depth-1-half map-container" >
            <iframe src="https://maps.google.com/maps?q=22.292323,114.199405&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border:0" allowfullscreen style="width:100%;"></iframe>
        </div>
        <!-- End Google Map -->
        <!-- Modal Button -->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnModalCancel"
                (click)="closeModal()">Cancel</button>
            <div style="padding-left: 15px;">
                <button type="button" class="btn btn-primary" id="modalDeleteButton"
                    onclick="goDelete()">Delete</button>
            </div>
            <!-- End Modal Button -->
        </div>
    </div>
</div>