<p>main works!</p>

<div id="marketListingPage">
    <main id="main" class="main">
        <div class="pagetitle">
            <h1 id="pagetitle-h1">List Market</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">List</li>
                    <li class="breadcrumb-item active">Market</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section" id="section">

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <ol class="breadcrumb">
                                <li>
                                    <h2 class="card-title">Market Listing</h2>
                                </li>
                                <li>
                                    <h2 class="card-title" style="padding-left: 20px;">
                                        <a href='' data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
                                            (click)="setModal('add')">

                                            <div class="icon">
                                                <i class="bi bi-plus-circle"></i>
                                            </div>
                                        </a>
                                    </h2>
                                </li>
                            </ol>
                            <!-- Table with stripped rows -->
                            <table class="table table-striped" id="table1">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Region</th>
                                        <th scope="col">District</th>
                                        <th scope="col">Address</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of parent_marketList">
                                        <th scope="row">{{item['Market_ID']}}</th>
                                        <td>{{item['Market_Name']}}</td>
                                        <td>{{item['Region']}}</td>
                                        <td>{{item['District']}}</td>
                                        <td>{{item['Address']}}</td>
                                        <td><a href="" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" (click)="setModal('edit', item['Market_ID'])"><i class="bi bi-pencil-fill"></i></a></td>
                                        <td><a href="" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" (click)="setModal('detail', item['Market_ID'])"><i class="bi bi-eye"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->

                        </div>
                    </div>

                </div>
            </div>
        </section>


    </main><!-- End #main -->
</div>

<!-- <div id="logListingPage">

    <main id="main" class="main">
        <div class="pagetitle">
            <h1 id="pagetitle-h1">List</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">List</li>
                    <li class="breadcrumb-item active">Log</li>
                </ol>
            </nav>
        </div>

        <section class="section" id="section">

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <ol class="breadcrumb">
                                <li>
                                    <h5 class="card-title">Log Listing</h5>
                                </li>
                            </ol>
                            
                            <table class="table table-striped" id="tableLog">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Message</th>
                                        <th scope="col">Date Time</th>
                                    </tr>
                                </thead>
                                <tbody id="LogBody">
                                </tbody>
                            </table>
                            

                        </div>
                    </div>

                </div>
            </div>
        </section>


    </main>
</div> -->