
<aside id="sidebar" class="sidebar">
    <form [formGroup]="sideBarForm"  class="sidebar-nav" id="sidebar-nav"  >
        <label for="inputText" class="col-sm-12 col-form-label"
            style="color:#6c757d;font-size: 24px;font-weight: bold;">Search Detail</label>
        <div class="row mb-3">
            <label for="inputText" class="col-sm-12 col-form-label">Market Name</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="search_name" oninput="" formControlName="search_name" value="Name">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-12 col-form-label">Region
                <!-- <a href=""  onclick="clickRegionAddIcon();return false;"><i class="bi bi-plus-circle"></i></a>   -->
            </label>
            <div class="col-sm-12">
                <select class="form-select" aria-label="Default select example"
                    onchange="" id="search_region" formControlName="search_region">
                    <option selected></option>
                    <option *ngFor="let item of region" [ngValue]="item.region_e">{{item.region_e}}</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-12 col-form-label">District
                <!-- <a href="" onclick="clickDistrictAddIcon();return false;"><i class="bi bi-plus-circle"></i></a> -->
            </label>
            <div class="col-sm-12">
                <select class="form-select" aria-label="Default select example" id="search_district"
                    onchange="" formControlName="search_district">
                    <option selected></option>
                    <option *ngFor="let item of district" [ngValue]="item.District_e">{{item.District_e}}</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <legend class="col-form-label col-sm-12 pt-0">Tenancy Commodity
                <!-- <a href="" onclick="clickTCIcon();return false;"><i class="bi bi-search"></i></a>  -->
            </legend>
            <div class="col-sm-12" id="search_tc" onchange="" >
                <div class="form-check" *ngFor="let item of tc">
                    <input class="form-check-input tc" type="checkbox" id="checkBoxTC" 
                        formControlName="search_tc" value="{{item.Tenancy_Commodity_e}}">
                    <label class="form-check-label" for="checkBoxTC">
                        {{item.Tenancy_Commodity_e}}
                    </label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <!-- <label class="col-sm-12 col-form-label">Submit</label> -->
            <div class="col-sm-12">
                <!-- <button type="submit" class="btn btn-primary" onclick="marketList('left'); return false;">Search</button>  -->
                <button class="btn btn-primary" style="background-color: #6c757d;" 
                    (click)="btnClear()">Clear</button>
            </div>
        </div>
    </form><!-- End General Form Elements -->
</aside><!-- End Sidebar-->

